<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello there, <%= @user.name %></h1>
    <p>
      <%= @pair.name %> has just matched your like!!!
    </p>
    <p>
      Let's start talking right now, their email address is: <%= @pair.email %>.
    </p>
    <p>Thanks for using Thunder and have a great date!</p>
  </body>
</html>